<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Products</title>
</head>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link active"
                   th:href="@{#}"
                   href="#">Recipes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active"
                   th:href="@{plans}"
                   href="plans.html">Daily plans</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<body class="bg-secondary">
<div class="container mt-5">
    <div class="row centered-form justify-content-center align-items-center">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 th:text="${session.myAttribute}"></h3>
                    <form role="form"
                          th:action="@{new}"
                          method="post">
                        <div class="row">
                            <!-- Recipe name -->
                            <div class="col-xs-4 col-sm-4 col-md-4 col-md-8">
                                <div class="form-group">
                                    <input type="text"
                                           th:field="${recipe.name}"
                                           name="recipe_name"
                                           id="recipe_name"
                                           class="form-control"
                                           placeholder="Recipe Name"
                                    />
                                </div>
                            </div>
                            <div class="col-xs-2 col-sm-2 col-md-2 col-md-4">
                                <div class="form-group">
                                    <input type="number"
                                           th:field="${recipe.cookingTime}"
                                           name="recipe_cookingTime"
                                           id="recipe_cookingTime"
                                           class="form-control"
                                           placeholder="Cooking Time"
                                    />
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-md-12">
                                <div class="form-group">
                                    <input type="text"
                                           th:field="${recipe.shortDescription}"
                                           name="recipe_name"
                                           id="recipe_description"
                                           class="form-control input-sm"
                                           placeholder="Recipe Description"
                                    />
                                </div>
                            </div>

                            <table>
                                <thead>
                                <tr>
                                    <th>Step number</th>
                                    <th>Description</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="cookingStep, status : ${recipe.cookingSteps}">
                                    <td>
                                        <input type="text" th:field="${recipe.cookingSteps[__${status.index}__].stepNumber}" />
                                    </td>
                                    <td>
                                        <input type="text" th:field="${recipe.cookingSteps[__${status.index}__].description}" />
                                    </td>
                                </tr>
                                <tr>
                                    <td th:text="${cookingStep.description}"></td>
                                </tr>
                                <tr>
                                    <td><input type="text" th:field="${cookingStep.stepNumber}"/>
                                        <input type="text" th:field="${cookingStep.description}"/>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <!--                            <div class="col-xs-6 col-sm-6 col-md-6 col-md-12">-->
                            <!--                                <div class="form-group">-->
                            <!--                                    <input type="text"-->
                            <!--                                           th:field="*{cookingSteps[__${}__].stepNumber}"-->
                            <!--                                           name="cooking_step"-->
                            <!--                                           id="cooking_step"-->
                            <!--                                           class="form-control input-sm"-->
                            <!--                                           placeholder="Cooking step"-->
                            <!--                                    />-->
                            <!--                                </div>-->
                            <!--                            </div>-->

                            <!--                            <div class="col-xs-6 col-sm-6 col-md-6 col-md-12">-->
                            <!--                                <div class="form-group">-->
                            <!--                                    <input type="text"-->
                            <!--                                           th:field="*{}"-->
                            <!--                                           name="ingredient"-->
                            <!--                                           id="ingredient"-->
                            <!--                                           class="form-control input-sm"-->
                            <!--                                           placeholder="Ingredient"-->
                            <!--                                    />-->
                            <!--                                </div>-->
                            <!--                            </div>-->
                            <!--                            <div class="col-xs-6 col-sm-6 col-md-6 col-md-12 mb-3">-->
                            <!--                                <button type="button" class="btn btn-success btn-sm float-left"-->
                            <!--                                        onclick="addRecipeStep()">Add recipe step-->
                            <!--                                </button>-->
                            <!--                                <button type="button" class="btn btn-warning btn-sm float-left ml-1"-->
                            <!--                                        onclick="removeRecipeStep()">Remove recipe step-->
                            <!--                                </button>-->
                            <!--                                <button type="button" class="btn btn-success btn-sm float-right"-->
                            <!--                                        onclick="addIngredientInput()">Add ingredient-->
                            <!--                                </button>-->
                            <!--                                <button type="button" class="btn btn-warning btn-sm float-right mr-1"-->
                            <!--                                        onclick="removeIngredientInput()">Remove ingredient-->
                            <!--                                </button>-->
                            <!--                            </div>-->
                            <!--                        </div>-->
                            <!--                        <div class="row" id="recipeStepsRow">-->

                            <!--                        </div>-->
                            <!--                        <div class="row" id="ingredientRow">-->

                                                    </div>
                            <input type="submit" value="Add" class="btn btn-info btn-block col-md-4 offset-md-4 mb-5">
                            <input type="submit" value="Save" th:formaction="'recipe/save'" class="btn btn-info btn-block col-md-4 offset-md-4 mb-5">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Adding my javascript! -->
<script th:inline="javascript">
    var stepCounter = 0;
    var ingredientCounter = 0;

    function addRecipeStep() {
        document.getElementById('mainForm').insertElement().innerHtml =
            '' +
            '' +
            '' +
            '' +
            '' +
            '' +
            '' +
            '' +
            '' +
            '' +
            '' +
    }

    function addRecipeStep() {
        var row = document.getElementById('recipeStepsRow');
        var div = document.createElement("DIV");
        div.className = "col-xs-6 col-sm-6 col-md-6 col-md-12";
        var divForm = document.createElement("DIV");
        divForm.className = "form-group";
        stepCounter++;
        var input = document.createElement("INPUT");
        input.id = 'recipe_step-' + stepCounter;
        input.type = 'text';
        input.name = 'recipe_step-' + stepCounter;
        input.placeholder = stepCounter+ '. Recipe Step';
        input.className= "form-control input-sm";
        div.appendChild(divForm);
        divForm.appendChild(input);
        row.appendChild(div);
        console.log("Ingredient step added.");
    }

    function removeRecipeStep(){
        if(stepCounter > 0 ){
            stepCounter--;
            var row = document.getElementById('recipeStepsRow');
            row.lastChild.remove();
        }
    }

    function addIngredientInput(){
        ingredientCounter++;
        var row = document.getElementById('ingredientRow');
        var divNameCol = document.createElement("DIV");
        divNameCol.className = "col-xs-5 col-sm-5 col-md-5";
        var divNameForm = document.createElement("DIV");
        divNameForm.className = "form-group";
        var nameInput = document.createElement("INPUT");
        nameInput.name="ingredient_name";
        nameInput.id="ingredient_name-" + ingredientCounter;
        nameInput.className = "form-control input-sm";
        nameInput.placeholder= ingredientCounter + ". Ingredient";
        divNameForm.appendChild(nameInput);
        divNameCol.appendChild(divNameForm);
        row.appendChild(divNameCol);

        var divAmountCol = document.createElement("DIV");
        divAmountCol.className = "col-xs-4 col-sm-4 col-md-4";
        var divAmountForm = document.createElement("DIV");
        divAmountForm.className = "form-group";
        var amountInput = document.createElement("INPUT");
        amountInput.name="ingredient_amount";
        amountInput.id="ingredient_amount-" + ingredientCounter;
        amountInput.className = "form-control input-sm";
        amountInput.placeholder= "Amount";
        divAmountForm.appendChild(amountInput);
        divAmountCol.appendChild(divAmountForm);
        row.appendChild(divAmountCol);

        var divUnitCol = document.createElement("DIV");
        divUnitCol.className = "col-xs-3 col-sm-3 col-md-3";
        var divUnitForm = document.createElement("DIV");
        divUnitForm.className = "form-group";
        var unitInput = document.createElement("INPUT");
        unitInput.name="ingredient_unit";
        unitInput.id="ingredient_unit-" + ingredientCounter;
        unitInput.className = "form-control input-sm";
        unitInput.placeholder= "Unit";
        divUnitForm.appendChild(unitInput);
        divUnitCol.appendChild(divUnitForm);
        row.appendChild(divUnitCol);

    }

    function removeIngredientInput(){
        if(ingredientCounter > 0 ){
            ingredientCounter--;
            var row = document.getElementById('ingredientRow');
            for(i = 0; i < 3; i++){
                row.lastChild.remove();
            }
        }
    }
</script>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>


</body>
</html>