<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header.html :: header-head"/>
</head>

<div th:replace="fragments/header.html :: header-navbar"/>

<body class="bg-secondary">
<div class="container mt-5">
    <div class="row centered-form justify-content-center align-items-center">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form role="form" th:action="@{new}" method="post">
                        <div class="row">
                            <!-- Recipe name -->
                            <div class="col-xs-4 col-sm-4 col-md-4 col-md-8">
                                <div class="form-group">
                                    <input type="text" name="recipe_name" id="recipe_name"
                                           class="form-control" placeholder="Recipe Name" th:field="${recipe.name}"/>
                                </div>
                            </div>
                            <div class="col-xs-2 col-sm-2 col-md-2 col-md-4">
                                <div class="form-group">
                                    <input type="text" name="recipe_cookingTime" id="recipe_cookingTime"
                                           class="form-control" placeholder="Cooking Time" th:field="${recipe.cookingTime}"/>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-md-12">
                                <div class="form-group">
                                    <input type="text" name="recipe_name" id="recipe_description" rows=""
                                           class="form-control input-sm" placeholder="Recipe Description" th:field="${recipe.shortDescription}"/>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-md-12 mb-3">
                                <input type="submit" class="btn btn-success btn-sm float-left" th:formaction="'addStep'" value="Add Recipe Step"/>
                                <input type="submit" class="btn btn-warning btn-sm float-left ml-1" th:formaction="'deleteStep'" value="Remove Recipe Step"/>
                                <input type="submit" class="btn btn-success btn-sm float-right" th:formaction="'addIngredient'" value="Add Ingredient"/>
                                <input type="submit" class="btn btn-warning btn-sm float-right mr-1" th:formaction="'deleteIngredient'" value="Remove Ingredient"/>
                            </div>
                        </div>
                        <div class="row" id="recipeStepsRow" >
                            <div class="col-xs-6 col-sm-6 col-md-6 col-md-12" th:each="cookingStep, status : ${recipe.cookingSteps}">
                                <div class="form-group">
                                    <input  type="text" name="recipe_step-2" class="form-control input-sm"
                                            th:field="${recipe.cookingSteps[__${status.index}__].description}" disabled/>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-md-12">
                                <div class="form-group">
                                    <input id="recipe_step-2" type="text" name="recipe_step-2" placeholder="Recipe Step"
                                           class="form-control input-sm" th:field="${cookingStep.description}"/>
                                </div>
                            </div>
                        </div>


                        <div class="row" id="ingredientRow" th:each="ingredient, status : ${recipe.ingredients}">
                            <div class="col-xs-5 col-sm-5 col-md-5">
                                <div class="form-group">
                                    <input name="ingredient_name" class="form-control input-sm"
                                           placeholder="Ingredient" th:field="${recipe.ingredients[__${status.index}__].product.name}" disabled>
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <input name="ingredient_amount" class="form-control input-sm"
                                           placeholder="Amount" th:field="${recipe.ingredients[__${status.index}__].quantity}" disabled>
                                </div>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3">
                                <div class="form-group">
                                    <input name="ingredient_unit" class="form-control input-sm"
                                           placeholder="Unit" th:field="${recipe.ingredients[__${status.index}__].unit.denotation}" disabled>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-5 col-sm-5 col-md-5">
                                <div class="form-group">
                                    <input name="ingredient_name" class="form-control input-sm"
                                           placeholder="Ingredient" th:field="${ingredient.product.name}">
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <input name="ingredient_amount" class="form-control input-sm"
                                           placeholder="Amount" th:field="${ingredient.quantity}">
                                </div>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3">
                                <div class="form-group">
                                    <input name="ingredient_unit" class="form-control input-sm"
                                           placeholder="Unit" th:field="${ingredient.unit.denotation}">
                                </div>
                            </div>

                        </div>

                        <input type="submit" value="Complete" th:formaction="@{complete}" class="btn btn-info btn-block col-md-4 offset-md-4 mb-5">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>


</body>
</html>