<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/header.html :: header-head"/>
</head>

<div th:replace="fragments/header.html :: header-navbar"/>

<body>

    <table>
        <thead>
        <td>
            DATE
        </td>
        <td>
            RECIPe
        </td>
        </thead>
        <tbody>
            <tr th:each="dailyPlan : ${dailyPlans}">
                <td th:text="${dailyPlan.targetDate}"></td>
                <td th:text="${dailyPlan.recipe.name}"></td>
            </tr>

        </tbody>
    </table>

</body>
</html>